/* Prevent adjustments of font size after orientation changes in IE on Windows Phone and in iOS.  */
html {-webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;}

/*  apply a natural box layout model to all elements  */
* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }

body {
    font-size: 16px;
    font-family: "Montserrat", sans-serif;
}

header {
    display: flex;
    justify-content: center;
    padding: .5rem 2vw;
    align-items: center;
}
header h1 {
    font-size: 1rem;
    padding-left: 1rem;
}

main {
    margin: 1rem 2%;
}

section.who {
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
}

section.who p{
    margin: 0;
}

section.about {
    display: flex;
    background-color: pink;
    padding: .5rem;
}

section.about p {
    margin: 0;

}

section.about ul {
    margin: 0;
    padding: 0;
}

section.about div {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-left: .5rem;
    width: 100%;
}

section.about div ul {
background-color: rgb(247, 144, 161);
border-radius: 10px;
padding: .5rem;
list-style-position: inside;
box-shadow: inset 0px 0px 10px rgb(168, 168, 168);
}

.assignments {
padding: 1rem 2%;
}

.assignments a {
display:block;
padding: .8rem;
margin-bottom: .5rem;
background-color: #eee;
border: 1px solid #aaa;
color: #222;
text-decoration: none;
}

.assignments a:hover {
background-color: #ddd;
}

footer {
    padding: 1rem;
    text-align: center;
}
h2 {font-size: 1rem;}